{
    "env": {
        "browser": true,
        "node": true
    },
    "parser": "babel-eslint",
    "plugins": [ "react" ],
    "rules": {
        "max-len": ["error", 100, 4, {"ignoreComments": true} ],
        "indent": ["error", 4],
    },
    "extends": ["airbnb-base"]
}
