@value bluePrimary, greyPrimary, greyTertiary from "css/colors.css";
@value fontPrimary from "css/font.css";

.mark {
  display: inline-block;
  height: 28px;
  width: 28px;
}

.container {
  background: white;
  border-bottom: 3px solid transparent;
  box-shadow: 0 0 1px greyTertiary;
  box-sizing: border-box;
  display: inline-block;
  margin: 1%;
  padding: 5px 4% 0 2%;
  width: 48%;
}

.active {
  composes: container;
  border-bottom-color: bluePrimary;
  box-shadow: 0 0 6px greyTertiary;
}

.score {
  color: greyPrimary;
  float: right;
  font-family: fontPrimary;
  font-size: 20px;
  padding-top: 2px;
}
