@value fontPrimary from "../../css/font.css";
@value bluePrimary from "../../css/colors.css";

.button {
    background: none;
    border: none;
    color: bluePrimary;
    cursor: pointer;
    font-family: fontPrimary;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
}

.button:focus {
    outline:none;
}

.container {
    padding: 10px 0;
    text-align: center;
}
