@value bluePrimary, greySecondary from "css/colors.css";

.container {
  background: greySecondary;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  margin: 50px auto;
  max-width: 500px;
  min-width: 240px;
  position: relative;
}

.board {
  background-color: bluePrimary;
  left: 0;
  position: relative;
  transition: transform 0.5s;
}

.flip {
  transform: rotateY(-180deg);
}

.innerContainer {
  margin: 0 auto;
  padding: 16px 0;
  position: relative;
  width: 240px;
}

:global {
  .example-enter {
    top: -500px;
  }

  .example-enter.example-enter-active {
    top: 0px;
    transition: top 0.3s ease-out;
  }
}
