@value fontPrimary from '../../css/font.css';

.select {
    display: inline-block;
    font-family: fontPrimary;
    font-size: 12px;
    padding: 6px 20px;
}

.container {
    padding: 12px 12px 0;
    text-align: right;
}

.option {

}
