@value fontPrimary from "css/font.css";
@value greyQuaternary from "css/colors.css";

.heading {
  color: greyQuaternary;
  font-family: fontPrimary;
  font-size: 26px;
  margin: 0;
  padding-bottom: 12px;
  text-align: center;
}
