@value fontPrimary from "./font.css";
@value greyQuaternary from "./colors.css";

.header {
    font-family: fontPrimary;
    margin: 0;
    color: greyQuaternary;
    padding-bottom: 12px;
    text-align: center;
    font-size: 26px;
}
