.container {
  display: inline-block;
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;
  text-align: center;
  width: 100%;
}

.svg {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 0;
}
