@font-face {
    font-family: 'Roboto-Medium';
    src: url(/fonts/Roboto-Medium.eot);
    src: url(/fonts/Roboto-Medium.woff2) format('woff2'),
       url(/fonts/Roboto-Medium.woff) format('woff'),
       url(/fonts/Roboto-Medium.ttf) format('truetype'),
       url(/fonts/Roboto-Medium.svg#Roboto-Medium) format('svg'),
       url(/fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}



.Button__button___q3fmL {
    background: none;
    border: none;
    color: #1485bd;
    cursor: pointer;
    font-family: 'Roboto-Medium', Arial, sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    width: 100%;
}

.Button__button___q3fmL:focus {
    outline:none;
}

.Button__container___1yshE {
    padding: 10px 0;
    text-align: center;
}

.Mark__container___1Uu8W {
    display: inline-block;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    text-align: center;
}

.Mark__svg___3WO0J {
    display: inline-block;
    left: 0;
    position: absolute;
    top: 0;
}

.Space__cell___3sFFF {
    box-sizing: border-box;
    border: 3px solid #336a86;
    float: left;
    font-size: 60px;
    height: 80px;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    width: 33.33%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Space__left___1OfBS {
    border-left-color: transparent;
}

.Space__right___xMdPn {
    border-right-color: transparent;
}

.Space__top___1tuaP {
    border-top-color: transparent;
}

.Space__bottom___2oEOS {
    border-bottom-color: transparent;
}

.Space__symbolWhite___2O0nC {
    color: white;
}

.Space__symbolBlack___3errD {
    color: #333;
}

.Board__container___2NWts {
    box-sizing: border-box;
}

.Board__container___2NWts:after {
  clear: both;
  content: "";
  display: table;
}

.Header__header___3TXz2 {
    font-family: 'Roboto-Medium', Arial, sans-serif;
    margin: 0;
    color: #666;
    padding-bottom: 12px;
    text-align: center;
    font-size: 26px;
}

.NotificationBar__container___1Su7D {
    color: #333;
    font-family: 'Roboto-Medium', Arial, sans-serif;
    font-size: 12px;
    height: 16px;
    margin: 10px 0;
    text-align: center;
}

.NotificationBar__icon___3RNsk {
    display: inline-block;
    height: 16px;
    margin-right: 2px;
    vertical-align: bottom;
    width: 16px;
}

.WinningLine__container___2AOCJ {
    height: 240px;
    left: 0;
    position: absolute;
    top: 16px;
    width: 240px;
    z-index: 1;
}

.Score__mark___3vcIW {
    width: 28px;
    height: 28px;
    display: inline-block;
}

.Score__container___3Ow3T {
    background: white;
    display: inline-block;
    width: 48%;
    box-shadow: 0 0 1px #999;
    border-bottom: 3px solid transparent;
    box-sizing: border-box;
    padding: 5px 4% 0 2%;
    margin: 1%;
}

.Score__active___37LdA {
    border-bottom-color: #1485bd;
    box-shadow: 0 0 6px #999;
}

.Score__score___1r1Ls {
    color: #333;
    font-size: 20px;
    font-family: 'Roboto-Medium', Arial, sans-serif;
    float: right;
    padding-top: 2px;
}

.ScoresSection__container___3N-q3 {
    margin: 0 10% 12px;
}

.Select__select___3LXB9 {
    display: inline-block;
    font-family: 'Roboto-Medium', Arial, sans-serif;
    font-size: 12px;
    padding: 6px 20px;
}

.Select__container___13vno {
    padding: 12px 12px 0;
    text-align: right;
}

.Select__option___1H1cI {

}

.Fireworks__canvas___x2aJs {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url(/fonts/Roboto-Medium.eot);
    src: url(/fonts/Roboto-Medium.woff2) format('woff2'),
       url(/fonts/Roboto-Medium.woff) format('woff'),
       url(/fonts/Roboto-Medium.ttf) format('truetype'),
       url(/fonts/Roboto-Medium.svg#Roboto-Medium) format('svg'),
       url(/fonts/Roboto-Medium.eot?#iefix) format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

.App__container___38UOf {
    background: #efefef;
    box-shadow: 0 0 2px rgba(0, 0, 0, .4);
    margin: 50px auto;
    max-width: 500px;
    min-width: 240px;
    position: relative;
}

.App__board___2ZBOc {
    background-color: #1485bd;
    position: relative;
    left: 0;
    /*-webkit-backface-visibility: hidden;
    backface-visibility: hidden;*/
    transition: transform .5s;
}

.App__flip___13jbI {
    transform: rotateY(-180deg);
}

.App__innerContainer___3M-LE {
    width: 240px;
    margin: 0 auto;
    padding: 16px 0;
    position: relative;
}

.example-enter {
      top: -500px;
    }

.example-enter.example-enter-active {
      top: 0px;
      transition: top .3s ease-out;
    }


/*# sourceMappingURL=main.css.map*/